
h1{
	font-family: 'Yeon Sung', Georgia;
}

body{
	background-color: grey;
	margin:5px;
}

.navbar{
	font-family: Fredoka One, Georgia;
	/*font-family: 'Yeon Sung', Georgia;*/
	background-color: #9ABD59;
}
.navbar-collapse{
	display: flex;
	justify-content: flex-end;
}

.wrapper{
	display: grid;
	margin: 10px;
	grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
	grid-gap: 10px;
	/*grid-auto-rows: minmax(100px, auto)*/
	}


#column1{
	border: 1px solid grey;
	align-items: center;
	margin-left: auto;
	    /*grid-column: 1/2;*/
	}
#column1 img{
	width: 100%
}


#column2{
	border: 1px solid grey;
	align-items: center;
	    /*grid-column: 2/2*/
	}

/*.container{
	padding-top: 20px;
	padding-left:0px;
	display: grid;
	grid-gap: 0px;
	align-items: center;
	grid-template-columns: auto 1.7fr 1fr;
}*/



.temp_image{
	height: 300px;
	width: 600px;
	/*border: 1px solid #ddd;*/
}



.cloud_image img{
	height: 300px;
	width: 500px;
	/*border: 1px solid #ddd;*/
	position: relative;
	padding-left: 0px;
	margin-left: 0px;
	border-left: 0px;
}

.image img{
	height: 150px;
	width: 250px;
	float:left;
	
}

.col{
	border: 1px solid grey;
}

/*.grid-wrapper{
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(auto-fill, minmax(350px, 2fr));
	
}*/

h2{
	color: #5bc0de;
}

h3{
	color: #5bc0de;
}

hr{
	margin: 5%;
}





/*img{
	border: 1px solid #ddd;
	width:200px;
	height: 150px;
	float: left;
	margin:0px; 
}*/

.hum img{
	border:2px solid red;
}

.temp img{
	border:2px solid red;
}

.cloud img{
	border:2px solid red;
	padding-left: 0px;
}

.wind img{
	border:2px solid red;
}