
h2{
	font-family: 'Yeon Sung', Georgia;
	color: #5bc0de;
}

.navbar{
	font-family: Fredoka One, Georgia;
	/*font-family: 'Yeon Sung', Georgia;*/
	background-color: #9ABD59;
}
.navbar-collapse{
	display: flex;
	justify-content: flex-end;
}


h2{
	color: #5bc0de;
}


img{
	heigh: 300px;
	width: 500px;
	border: 1px solid #ddd;
	float: center;
	transition: all 300ms;
	margin:0px;
}

img:hover{
	transform: scale(1.1);
}

.container{
	color: #5bc0de;
	display:flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

/*GRID for images*/
.grid-wrapper{
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(auto-fill, minmax(350px, 2fr));
	
}

.box > img{
	width: 100%;
}

h5{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

footer{
	text-align: center;
}
